:root{
/*основний колір тексту #212121*/ 
/*вторичний колір тексту #757575 */
/*білий #ffffff*/
/*акцент #2196F3*/
/*колір фону черний #2F303A*/
/*колір фону сірий #F5F4FA*/
}
body{
    background-color: #fff;
    color:#212121 ;
}

.logo {
   color: #2196F3
}
.logo:hover {
    color: #212121
 }

